@model IEnumerable<GymApp.Models.Returns>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
@section scripts{
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <!-- Toastr JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>// Define the showSuccessMessage function
        function showSuccessMessage(message) {
            toastr.success(message);
        }

        // Handle the Toastr notification.
        $(document).ready(function () {
            // Check if a success message exists in the query string (added after redirection).
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has("successMessage")) {
                var successMessage = urlParams.get("successMessage");
                showSuccessMessage(successMessage);
            }
        });</script>
    }
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order.DeliveryFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.DeliveryFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReturnId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReturnId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReturnId })
                </td>
            </tr>
        }

    </table>
